@font-face {
  font-family: 'DollhouseC';
  src: url('./Fonts/Kurale.ttf');
}

* {
  font-family: 'DollhouseC';
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(90deg, rgb(255 255 255 / 55%) 4%, rgb(255 255 255 / 55%) 53%, rgb(255 255 255 / 55%) 100%), url(../src/Img/background_6.jpg);
  background-size: cover;
  background-position: center;
}

#root {
  height: 100%;
}